@import url('https://fonts.googleapis.com/css?family=Lato');
div.content {
  margin-top: 75px;
  allign: center;
}
nav.navbar {
  background-color: #522d80;
  border-bottom: 3px solid #4b2975;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
nav.navbar a.navbar-brand {
  color: #f66733;
}
nav.navbar ul.navbar-nav li a {
  background-color: transparent;
  color: white;
  transition: all 300ms;
}
nav.navbar ul.navbar-nav li.active a {
  background-color: #7641b9;
  transition: all 300ms;
}
nav.navbar ul.navbar-nav li.active:hover a {
  background-color: #5e3493;
  transition: all 300ms;
}
nav.navbar ul.navbar-nav li:hover a {
  background-color: #6a3aa6;
  transition: all 300ms;
}
nav.navbar .navbar-nav > .open > a,
nav.navbar .navbar-nav > .open > a:focus,
nav.navbar .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: #6a3aa6;
}
nav.navbar .dropdown-menu {
  background-color: #6a3aa6;
}
nav.navbar .dropdown-menu li {
  background-color: #6a3aa6;
}
nav.navbar .dropdown-menu li.divider {
  background-color: #f66733;
  margin: 9px 0;
}
.btn-primary {
  position: fixed;
  background-color: #522d80;
  border-color: #4b2975;
  text-align: left;
}
.btn-primary.active {
  background-color: #7641b9;
}
.btn-primary.active:hover {
  background-color: #7641b9;
}
.btn-primary:hover {
  background-color: #7641b9;
}
.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  background-color: #522d80;
  border-color: #4b2975;
}
.navbar-fixed-left a.navbar-brand {
  color: #f66733;
  padding: 10px;
}
.navbar-fixed-left ul.navbar-nav li a {
  background-color: transparent;
  color: white;
  transition: all 300ms;
}
.navbar-fixed-left ul.navbar-nav li.active a {
  background-color: #7641b9;
  transition: all 300ms;
}
.navbar-fixed-left ul.navbar-nav li.active:hover a {
  background-color: #5e3493;
  transition: all 300ms;
}
.navbar-fixed-left ul.navbar-nav li:hover a {
  background-color: #6a3aa6;
  transition: all 300ms;
}
.navbar-fixed-left .navbar-nav > .open > a,
.navbar-fixed-left .navbar-nav > .open > a:focus,
.navbar-fixed-left .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: #6a3aa6;
}
.navbar-fixed-left .navbar-nav > li {
  float: none;
  /* Cancel default li float: left */
  width: 139px;
}
.navbar-fixed-left + .container {
  padding-left: 160px;
}
#modal-alert2 {
  z-index: 999999;
}
#modal-login .iziModal-content header {
  background: #eee;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 3px 3px 0 0;
  width: 100%;
}
#modal-login .iziModal-content header a {
  display: block;
  float: left;
  width: 50%;
  padding: 0;
  text-align: center;
  background: #ddd;
  color: #999;
  height: 73px;
  vertical-align: middle;
  line-height: 73px;
}
#modal-login .iziModal-content header a.active {
  background: #fff;
  color: #777;
}
#modal-login .iziModal-content section {
  padding: 30px;
}
#modal-login .iziModal-content section input:not([type="checkbox"]),
#modal-login .iziModal-content section button {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 26px;
  padding: 15px;
  font-size: 14px;
}
#modal-login .iziModal-content section button {
  height: 46px;
  padding: 0;
}
#modal-login .iziModal-content section input:focus {
  border-color: #28CA97;
}
#modal-login .iziModal-content section label[for="check"] {
  margin-bottom: 26px;
  font-size: 14px;
  color: #999;
  display: block;
}
#modal-login .iziModal-content section footer {
  overflow: hidden;
}
#modal-login .iziModal-content section button {
  background: #522d80;
  color: white;
  margin: 0;
  border: 0;
  cursor: pointer;
  width: 50%;
  float: left;
}
#modal-login .iziModal-content section button:hover {
  opacity: 0.8;
}
#modal-login .iziModal-content section button:nth-child(1) {
  border-radius: 3px 0 0 3px;
  background: #f66733;
}
#modal-login .iziModal-content section button:nth-child(2) {
  border-radius: 0 3px 3px 0;
}
#modal-login .iziModal-content .icon-close {
  background: #FFF;
  margin-bottom: 10px;
  position: absolute;
  right: -8px;
  top: -8px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0;
  color: #a9a9a9;
  cursor: pointer;
}
#modal-login .iziModal-content .icon-close:hover,
#modal-login .iziModal-content .icon-close:focus {
  color: black;
}
